

  <!-- Navbar Component -->
  <div>

    <app-navbar></app-navbar>

  </div>


  <div class="mx-auto max-w-7xl px-6 lg:px-8 z-10 relative">
   
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl" id="title_home">
        Listos para el futuro
      </h2>
      <p class="mt-24 text-2xl leading-8 text-semibold text-gray-100">
        ¿Listo para sumergirte en el universo de la animación?
        ¡Explora mi portafolio y déjate inspirar por lo que puedo crear!
      </p>
    </div>
    <div class="mx-auto mt-48 max-w-2xl lg:mx-0 lg:max-w-none">
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse" id="subtitle_one">
          <dt class="text-3xl leading-7 text-gray-300">Conocimientos</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-white">01.</dd>
        </div>
        <div class="flex flex-col-reverse " id="subtitle_two">
          <dt class="text-3xl leading-7 text-gray-300">Practica</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-white">02.</dd>
        </div>
        <div class="flex flex-col-reverse" id="subtitle_three">
          <dt class="text-3xl leading-7 text-gray-300">Experiencia</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-white">03.</dd>
        </div>
        <div class="flex flex-col-reverse" id="subtitle_four">
          <dt class="text-3xl leading-7 text-gray-300">Autonomía</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-white">04.</dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- Contenedor del canvas de Three.js -->
  <div id="three-container" class="absolute inset-0 z-0"></div>

