<div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4">Proyectos</h1>
    <p class="text-xl text-gray-100 mb-8">Aquí puedes ver algunos de mis proyectos más destacados.</p>
<div class="video-grid pt-12 pl-9 px-8 ">
    <div class="video-column">
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/hvOKM-SepyU?si=uG5eLpKZwJHwwYu7" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
                <p class="video-caption pt-3 mb-3 text-gray-100 text-bold">Descripción del video 1</p>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/-PJx1fA_x3M?si=c_1YqOP0kdhVrS2n" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
                <p class="video-caption pt-3 mb-3 ">Descripción del video 5</p>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/OC5MqCExuUU?si=qBQUp6V9j0skBGdj" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
                <p class="video-caption pt-3 mb-3 text-gray-100 text-bold">Descripción del video 3</p>

    </div>
    <div class="video-column">
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/lNe2QlnHT9A?si=7IKXlFuSXj958-ql" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
                <p class="video-caption pt-3 mb-3 text-gray-100 text-bold">Descripción del video 2</p>   
                <div class="video-column">
                    <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/S_r7HqFgMKM?si=edBTEc6jCxuJ4nFN" 
                    title="Helicoptero 3D Maya" 
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                </iframe>
                <p class="video-caption pt-3 mb-3">Descripción del video 4</p>   
            </div>
                <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/5J6_wBb-ehw?si=NzIng_SBu6i48y8i" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
        <p class="video-caption pt-3 mb-3 text-gray-100 text-bold">Descripción del video 6</p>
    </div>
</div>
<style>
    .video-grid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .video-column {
        flex: 1;
        text-align: center;
        padding-left: 10px;
    }
    .video-column iframe {
        transition: transform 0.3s ease;
    }
    .video-column iframe:hover {
        transform: scale(1.05);
    }
    .video-caption {
        
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 24px;
        color: #fffefe;
        
    }
    .video-frame {
        transition: transform 0.3s ease;
    }
    .video-frame:hover {
        transform: scale(1.05);
    }
</style>
